/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator  */

.country-card {
  display: flex;
  flex-direction: column;
}


.country {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.country__flag {
  min-width: 50rem;
}

.country-data-container {
  display: flex;
  gap: 40px;
  background-color: rgb(66, 65, 65);
  width: 20rem;
  padding: 15px 25px;
}

.country-data,
.continent {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: azure;
}

.country-data h3 > span,
.continent h3 > span {
  color: hsl(0, 26%, 79%);
}

.back-button {
  font-size: 1.2rem;
  font-weight: 700;
  margin-block-start: 2rem;
  margin-inline-start: 1.4rem;
  padding: 0.6rem 1.1rem;
  color: rgb(210, 54, 54);
  cursor: pointer;
}
