.country_card_container {
  background-color: rgb(165, 14, 99);
  transition: all 0.3s;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  min-width: 39rem;
}

.country_card_container:hover {
  transition: all 0.4s;
  transform: scale(1.15);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  min-width: 30%;
  justify-content: space-between;
  margin: 5px auto;
  gap: 0.5rem;
  text-align: center;
  padding: 2rem;
}

.flag__section {
  height: 250px;
}

.flag__section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flag_section img {
  margin-block-end: 0;
  min-height: 5rem;
  border-radius: 2%;
}

.country_info {
  border-radius: 0 0 5px 5px;
  background-color: rgb(165, 14, 99);
  min-height: 1rem;
}

.country_info h2 {
  font-weight: 800;
  padding-bottom: 10px;
  color: #fff;
}

.country_info h3 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: 800;
  padding-bottom: 5px;
  color: hsl(0, 0%, 100%);
}

.country_info h3 > span {
  color: hsl(0, 26%, 79%);
}

.c-arrow {
  margin-left: 93%;
  z-index: 100;
  margin-bottom: -5rem;
  font-size: 1.5rem;
  color: #fff;
  padding: 0.2rem;
}
