/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator  */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background-color: rgb(204, 39, 135);
}

img {
  max-width: 100%;
}

.country__flag {
  width: 15rem;
}

@media only screen and (max-width: 475px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 50rem;
  }

  .header_logo,
  .fa-globe,
  .globe span {
    font-size: 1rem;
  }

  .header__link {
    padding-right: 10px;
    margin-top: -1.2rem;
  }

  .globe {
    margin-top: -1.7rem;
  }

  .country_card_container {
    min-width: 20rem;
    margin: 2rem 0 0.5rem 3rem;

  }

  .grid {
    padding: 0;
    margin-right: 3rem;
  }
  .search-container {
    margin-left: 8rem;
  }

  .country-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15rem;
  }
  .country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin-block-start: 3rem;
  }

  .country__flag {
    margin-block-start: 2rem;
    min-width: 20rem;
  }

  .country-data-container {
    min-width: 2rem;
  }

  .fa-arrow-circle-right {
    margin-left: 80%;
    z-index: 100;
    margin-bottom: -4.8rem;
    font-size: 1rem;
    color: #fff;
  }

  .c-arrow {
    margin-left: 93%;
    z-index: 100;
    margin-bottom: -4.8rem;
    font-size: 1rem;
    color: #fff;
  }

  .back-button {
    font-size: 0.9rem;
  }
}
