/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator  */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background-color: #2d4052;
}

img {
  max-width: 100%;
}

.country_card_container {
  background: hsl(208, 21%, 62%);
  transition: all 0.3s;
  margin-bottom: .5rem;
  margin-top: 3rem;
  min-width: 39rem;
}

.country_card_container:hover {
  transition: all 0.4s;
  transform: scale(1.15);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
  margin: 10px auto;
  gap: 1rem;
  text-align: center;
}

.flag__section {
  height: 250px;
}

.flag__section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country_info {
  padding: 20px;
  color: hsl(200, 15%, 8%);
  border-radius: 0 0 5px 5px;
}

.country__flag {
  width: 17rem;
}

.flag__section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.country_info {
  padding: 20px;
  color: hsl(200, 15%, 8%);
  border-radius: 0 0 5px 5px;
}


@media only screen and (max-width: 475px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    min-width: 33rem;
  }

  .header_logo,
  .fa-globe,
  .globe span {
    font-size: 1rem;
  }

  .header__link {
    padding-right: 10px;
    margin-top: -1.2rem;
  }

  .globe {
    margin-top: -1.7rem;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
    margin: 10px auto;
    gap: 1rem;
    text-align: center;
  }

  .country_card_container {
    background: hsl(208, 21%, 62%);
    transition: all 0.3s;
    margin-bottom: .5rem;
    margin-top: 3rem;
    min-width: 5rem;
  }

  .search-container {
    margin-left: -3rem;
  }
  .country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin-block-start: 3rem;
  }

  .country__flag {
    margin-block-start: 2rem;
    min-width: 20rem;
  }

  .country-data-container {
    min-width: 2rem;
  }


  .back-button {
    font-size: .9rem;
  }
}