/* stylelint-disable at-rule-no-unknown */
/* stylelint-disable csstree/validator  */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@import url('https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background-color: rgb(204, 39, 135);
}

img {
  max-width: 100%;
}

.country__flag {
  width: 15rem;
}
